<h1>Cadastro de <br> Funcionário</h1>
<form action="/create" method="POST">
    <hr />
    <div class="form-control">
        <label for="name">Seu Nome:</label>
        <input type="text" name="name" pattern="[A-Za-zÀ-ú]{1,32}+[\s]" required="required"
            placeholder="Informe o seu nome completo">
    </div>
    <div class="form-control">
        <label for="email">Seu E-mail:</label>
        <input type="email" name="email" required="required" placeholder="contato@dominio">
    </div>
    <div class="form-control">
        <label for="date">Sua Data de Nascimento:</label>
        <input type="date" name="date" required="required" max="2002-12-31">
    </div>
    <div class="form-control">
        <label for="salary">Seu Salário:</label>
        <input type="number" name="salary" required="required" placeholder="Informe o seu salário">
    </div>
    <div class="form-control">
        <label for="department">Seu Cargo:</label>
        <select class="form-select" name="department" required>
            <option value="">selecione...</option>
            <option id="1">Gerente</option>
            <option id="2">Analista de Sistemas</option>
            <option id="3">Desenvolvedor</option>
            <option id="4">DBA</option>
        </select>
    </div>
    <input type="submit" class="btn" value="Gravar">
</form>